<nav>
  <a href="/">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Hashnode_icon.svg/2048px-Hashnode_icon.svg.png"
      alt="Hashnode Logo"
    />
  </a>
</nav>

<style>
  nav {
    text-align: center;
  }

  img {
    width: 100px;
  }
</style>
